# Executables
*.exe

# android packages
*.apk

# Application Extensions
*.dll

# Phone Images
*.img

# Phone Binaries
tools/*

# Instructional text files
*here.txt

# Zip files
*.zip

# Phone Update files
*.bin

# Boot Animation files
*bootanimation*
